body {
  background: #0f0f0f;
  color: #fff;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chat-container {
  width: 400px;
  background: #1c1c1c;
  border-radius: 10px;
  overflow: hidden;
}

.chat-header {
  background: #111;
  padding: 10px;
  text-align: center;
}

.chat-box {
  height: 300px;
  padding: 10px;
  overflow-y: auto;
}

.message {
  background: #333;
  margin-bottom: 8px;
  padding-top: 3px;     /* espacio arriba del animal */
  padding-bottom: 2.5px;  /* espacio debajo del texto */
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 6px;
  position: relative;

  /* 👇 ESTO ES LO ÚNICO NUEVO */
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}



.message span {
  position: absolute;
  right: 8px;
  top: 6px;
  font-size: 12px;
  opacity: 0.6;
}

.chat-input {
  display: flex;
}

.chat-input input,
.chat-input select,
.chat-input button {
  border: none;
  padding: 10px;
}

.chat-input input {
  flex: 1;
}




/* 🔥 OCULTAR BARRA VERTICAL (pero mantener scroll) */
.chat-box {
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE / Edge antiguo */
}

.chat-box::-webkit-scrollbar {
  display: none;                /* Chrome, Safari */
}

/* 👇 textarea se ve y se comporta igual que el input */
.chat-input textarea {
  flex: 1;
  border: none;
  padding: 10px;
  font-family: Arial;
  resize: none;
  background: #fff;
  outline: none;
}


/* 🔥 OCULTAR SCROLLBAR DEL TEXTAREA */
.chat-input textarea {
  overflow-y: hidden;
}

/* Chrome, Safari */
.chat-input textarea::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.chat-input textarea {
  scrollbar-width: none;
}

